<div class="main-container">
    <div class="search-engine">

        <div nz-row [nzJustify]="'center'" [nzGutter]="8">
            <div nz-col nzSpan="9">
                <nz-select class="select" nzDropdownClassName="hide-dropdown" [nzSize]="'large'" [nzOpen]="false"
                    nzMode="tags" nzPlaceHolder="Search" [nzAllowClear]="true" [(ngModel)]="selectedSearch"
                    [nzCustomTemplate]="multipleTemplate" [nzFilterOption]="defaultFilterOption">
                    <nz-option *ngFor="let option of []" [nzLabel]="option.label.value" [nzValue]="option.value.label">
                    </nz-option>
                </nz-select>

                <ng-template #multipleTemplate let-selected>
                    <div class="ant-select-selection-item-content">
                        <ng-container *ngIf="selected?.nzValue?.src; else default">
                            <nz-avatar [nzShape]="'square'" [nzSize]="'small'"
                                [nzSrc]="sanitizeImageURL(selected.nzValue.src)">
                            </nz-avatar> {{
                            selected.nzValue.label }}
                        </ng-container>
                        <ng-template #default>
                            {{ selected.nzLabel }}
                        </ng-template>
                    </div>
                </ng-template>
            </div>

            <div nz-col nzSpan="1">
                <nz-upload [nzAction]="tagExtractURL" (nzChange)="handleChange($event)" [nzShowUploadList]="false">
                    <button nz-button [nzSize]="'large'"><i nz-icon nzType="picture"></i></button>
                </nz-upload>
            </div>
            <div nz-col nzSpan="2"><button [nzSize]="'large'" nz-button nzType="primary" (click)="search()"><i nz-icon
                        nzType="search"></i>Search</button>
            </div>
        </div>

        <div style="margin-top: 2%;" nz-row [nzJustify]="'start'" [nzGutter]="8">
            <div nz-col nzSpan="12" [nzOffset]="6">
                <ng-container *ngFor="let tag of tags">
                    <nz-tag [nzColor]="'blue'">
                        {{tag?.value}}
                    </nz-tag>
                </ng-container>
            </div>
        </div>

        <div *ngFor="let article of articles" nz-row [nzJustify]="'center'" [nzGutter]="8">
            <div nz-col nzSpan="12">
                <nz-card style="margin-top: 16px" [nzLoading]="false">
                    <nz-card-meta nzTitle="Card title" nzDescription="This is the description">
                    </nz-card-meta>
                </nz-card>
            </div>
        </div>
    </div>


</div>