.main-container {
    height: 100%;
    display: flex;
    place-content: center;

    .search-engine {
        // margin-left: 50%;
        width: 100%;
        margin-top: 5%;
        
        .select {
            width: 100%;
        }
    }
}